// File: src/styles/layout/index.scss

// Purely to forward reusable styles for pages
@forward "../elements/mixins";
@forward "../elements/generic";
@forward "../elements/classes";

.react-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}
